
/project/VotesEJB/nbproject/private/
/project/VotesWar/build/
/project/VotesWar/nbproject/private/
/project/VotesEJB/dist/
/project/VotesWar/dist/
/project/Votes/dist/

/project/Votes/nbproject/project.properties
/project/VotesEJB/nbproject/project.properties
/project/VotesWar/lib/nblibraries.properties

/project/VotesWar/nbproject
/project/Votes/build/

/project/VotesEJB/build.xml
/project/VotesWar/nbproject/build-impl.xml
/project/VotesWar/nbproject/genfiles.properties
/project/VotesWar/nbproject/project.properties
/project/VotesWar/nbproject/project.xml
/project/Votes/nbproject/private/
/project/VotesEJB/build/