/project/Votes/build/
/project/Votes/nbproject/private/
/project/VotesEJB/build/
/project/VotesEJB/nbproject/private/
/project/VotesWar/build/
/project/VotesWar/nbproject/faces-config.NavData
/project/VotesWar/nbproject/private/
